body {
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    margin: 0;
    padding: 0;
}

.login-container {
    background: #708090;
    color: #fff;
    max-width: 350px;
    margin: 80px auto;
    padding: 40px 30px 30px 30px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #08ffd1;
}

label {
    display: block;
    margin-bottom: 6px;
    color: #08ffd1;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 18px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
	colour: #FFFF00;
}

button {
    width: 100%;
    padding: 10px;
    background: #08ffd1;
    border: none;
    border-radius: 4px;
    color: #23463f;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #15cbc3;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-top: 10px;
}

.options a {
    color: #C0C0C0;
    text-decoration: underline;
}